        <footer class="shadow pt-5 pb-3">
            <div class="container footer-content"> 
                <div class="row">
                    <div class="col-lg-4 mb-4">
                        <a class="navbar-brand fw-bold text-uppercase" href="{{metadata.url}}">
                            {% if footer.menu1.image.show %}
                        <img class="img-fluid mb-3 {% if footer.circle %}rounded-circle{% endif %}" alt="{{metadata.title}}" 
                        width="{{footer.menu1.width}}" height="{{footer.menu1.height}}" 
                        src="{{footer.menu1.image.url}}" loading="lazy"/><br/>{% else %}
                        <i class="{{footer.menu1.icon.icon}} me-2 text-{{footer.menu1.icon.color}}"></i>{% endif %}
                            {{footer.menu}}
                        </a>
                        <p class="mt-3 small footer-">
                            {{footer.menu1.text | md | safe}}
                        </p>
                        <a href="{{footer.menu1.button.url}}" class="btn btn-sm btn-{{footer.menu1.button.color}} rounded-3 mt-2">
                            <i class="bi bi-envelope-fill me-1"></i> {{footer.menu1.button.text}}
                        </a>
                    </div>

                    <div class="col-6 col-lg-2 mb-4">
                        <h3 class="fw-bold lead ">{{footer.menu2.title}}</h3>
                        <ul class="list-unstyled ms-3">{% for j in footer.menu2.list %}
                            <li><a href="{{j.url}}" class="none">{{j.nav}}</a></li>{% endfor %}
                        </ul>
                    </div>

                    <div class="col-6 col-lg-3 mb-4">
                        <h3 class="fw-bold lead ">{{footer.menu3.title}}</h3>
                        <ul class="list-unstyled ms-3">{% for d in footer.menu3.list %}
                            <li><a href="{{d.url}}" class="none">{{d.nav}}</a></li>{% endfor %}
                        </ul>
                    </div>

                    <div class="col-lg-3 mb-4">
                        <h3 class="fw-bold lead ">{{footer.menu4.title}}</h3>
                        <div class="d-flex social-icons-group mt-3">{% for s in footer.menu4.social %}
                            <a href="{{s.url}}" 
                            title="{{s.title}}" class="me-3"><i class="{{s.icon}}"></i></a>{% endfor %}
                        </div>
                        <p class="mt-3 small footer-">
                            {{footer.menu4.text | md |safe}}
                        </p>
                    </div>
                </div>

                <hr class="footer-divider my-4">
                <div class="row">
                    <div class="col-12 text-center">
                        <p class="mb-0 small footer-">&copy; <span id="copyright-year"></span>.{{footer.copyrights}} | Built with <a href="https://11ty.dev" class="none" target="_blank" rel="noopener noreferrer">11ty</a> | 
                    managed by <a href="https://peterderrico.substack.com/" target="_blank" class="none" rel="noopener noreferrer">Peter d'Errico</a> &amp; 
                    <a href="https://adamdjbrett.com" target="_blank" class="none" rel="noopener noreferrer">Adam DJ Brett</a></p>
                    </div>
                </div>
            </div>
        </footer>