    <nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
        <div class="container py-2">
            <a class="navbar-brand fw-bold text-uppercase" href="{{metadata.url}}">
                {% if navbar.icon.show %}
                    <img class="img-fluid {% if navbar.icon.circle %}rounded-circle{% endif %}" width="{{navbar.icon.width}}" height="{{navbar.icon.height}}" alt="{{metadata.title}}" src="{{navbar.icon.image}}"/> <span class="text-logo ms-2">{{navbar.title}}</span>
                    {% else %}<span class="text-logo">{{navbar.title}}</span>
                    {% endif %}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <small>Menu</small> <i class="fa-solid fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center">
                        {% for n in navbar.list %}<li class="nav-item"><a class="nav-link nav-link-pro {% if n.url == page.url %} active{% endif %}" href="{{n.url}}">{{n.nav}}</a></li>{% endfor %}
                    <li class="nav-item ps-lg-3">
                        <button id="theme-toggle" class="btn btn-sm btn-outline-primary-custom rounded-circle" 
                        aria-label="Toggle Dark/Light Mode">
                            <i class="{{widget.dark_light_icon}} mt-1" id="theme-icon"></i> 
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
