        <section class="hero-section text-center mt-5 py-7 bg-primary-dark" id="hero">
            <div class="container">
                <div class="col-lg-10  mx-auto p-3 p-md-5 mb-5">
                    <h1 class="display-2 mt-5 fw-bold">
                        <a href="{{page.url}}" class="none">{{hero.title}}</a></h1>
                    <p class="fs-4 opacity-75 mb-3 col-md-10 mx-auto">
                        {{hero.description | md | safe}}</p>
                    <p>{% for b in hero.button %}
                        <a href="{{b.url}}" class="btn btn-sm btn-{{b.color}} p-3">
                        {{b.text}}
                    </a>{% endfor %}
                    </p>
                </div>
            </div>
        </section>